body{
    font-family: "Boldonse", system-ui;
    font-weight: 400;
    font-style: normal;
}

.grid-col{
    display: flex;
}

.margin-cell{
    margin: 5px;
}

.size-cell{
    height: 50px;
    width: 50px;
    text-align: center;
    border-radius: 10px;
    max-width: 100%;
}

.d-flex{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.fill-yellow{
    background-color: #ffd735;
    border: none;
}

.level-1{
    background-color: #35aeff;
}

.monster{
    width: 100%;
    height: 100%; 
}

.cursor{
    cursor: pointer;
}
