.grid-row{
    display: grid;
    grid-template-columns:repeat(3);
}

.grid-col{
    display: flex;
}

.margin-col{
    /* margin-block: 5px; */
}

.margin-cell{
    margin: 5px;
}

.size-cell{
    height: 50px;
    width: 50px;
    text-align: center;
}

.border-cell{
    border: solid 1px;
}