body, button{
    font-family: "Boldonse", system-ui;
    font-weight: 400;
    font-style: normal;
}

button{
    /* font-size: 7px; */
}

.grid-col{
    display: flex;
}

.margin-col{
    /* margin-block: 5px; */
}

.margin-cell{
    margin: 5px;
}

.size-cell{
    height: 50px;
    width: 50px;
    text-align: center;
    border-radius: 10px;
    max-width: 100%;
}

.d-flex{
    display: flex;
    align-items: center;
    justify-content: center;
}

.fill-yellow{
    background-color: #ffd735;
    border: none;
}

.level-1{
    background-color: #35aeff;
}
